@import "tailwindcss";

:root {
  --primary-background: #ffffff;
  --primary-text: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #000000;
    --primary-text: #ffffff;
  }
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  user-select: none;
}

header {
  font-family: "StackSansText", sans-serif;
}

.my-font {
  font-family: "StackSansText", sans-serif;
}


@font-face {
  font-family: "StackSansText";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Android */
}

