@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-background: #ffffff;
  --primary-text: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-background: #000000;
    --primary-text: #ffffff;
  }
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  user-select: none;
}

header {
  font-family: "StackSansText", sans-serif;
}

.my-font {
  font-family: "StackSansText", sans-serif;
}


@font-face {
  font-family: "StackSansText";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Android */
}

@keyframes pulseGlow {

  0%,
  100% {
    text-shadow: 0 0 6px rgba(191, 243, 147, 0.6);
  }

  50% {
    text-shadow: 0 0 16px rgba(60, 50, 0, 0.9);
  }
}

.animate-pulse-glow {
  animation: pulseGlow 2s ease-in-out infinite;
}